body {
    background-color: #0F111B;
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}


header {
    padding-top: 37px;
    margin-bottom: clamp(3.75rem, 1.218rem + 6.137vw, 5.875rem);
}

header .burger {
    display: none;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

header .burger span {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: white;
}


.header .burger::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all .3s ease-in-out;
}

.header .burger::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all .3s ease-in-out;
}

header .burger.open span {
    display: none;
}

header .burger.open::before {
    transform: translateY(9px) rotate(45deg);

}

header .burger.open::after {
    transform: translateY(-9px) rotate(-45deg);
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 54px;
}

.header__inner .logo {
    font-weight: 700;
    font-size: 28px;
    line-height: 118.5%;
    background: linear-gradient(103.84deg, #DF1CFF -25.59%, #EA0070 138%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

header .nav .nav__list {
    display: flex;
    align-items: center;
}

.header .nav .nav__list li {
    font-weight: 400;
    font-size: 20px;
    line-height: 118.5%;
    color: rgba(255, 255, 255, 0.43);
}

.header .nav .nav__list li:not(:last-child) {
    margin-right: 45px;
}

.nav__item.active {
    color: #FFFFFF !important;
}

.header__inner button {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    width: 201px;
    height: 54px;
    background: linear-gradient(to right, #1C1536, #190F31);
    box-shadow: 0px 16px 80px rgba(208, 17, 204, 0.15);
    border: 0.094rem solid transparent;
    border-radius: 8px;
    background-image:
        linear-gradient(#1C1536, #190F31),
        linear-gradient(to right, #CF0D9C, #3C1246);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    cursor: pointer;
}


.header__inner button:active {
    transform: translateY(-2px);
}

/* @media(hover: hover) {
    .header__inner button:hover {
        transform: translateY(-1px);
    }
} */




/* /////////////////////////// */
/* 
.hero__cover::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 952px;
    height: 855px;
    border-radius: 50%;
    background: conic-gradient(from 180deg at 50% 50%, #D9D9D9 0deg, #297FFF 0.04deg, #BF38FF 78.75deg, #CF68FF 187.5deg, #28CBFF 268.13deg, #E1A2FF 360deg);
    opacity: 0.15;
    filter: blur(250px);
    transform: rotate(-45deg);
} */

/* main {
    margin-bottom: 65px;
} */

.hero {
    margin-bottom: 130px;
}

.hero__cover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 53px;

}

.hero__content {
    /* max-width: 575px; */
}

h1 {
    font-family: 'Axiforma', sans-serif;
    font-weight: 900;
    font-size: clamp(2.188rem, 0.624rem + 3.791vw, 3.5rem);
    line-height: 130%;
    color: #FFFFFF;
    padding-bottom: 32px;

    span {
        font-family: inherit;
        color: #1EE0E1;
        font-weight: 300;
        font-style: italic;
    }
}

.hero__content {
    position: relative;
}

.hero__content p {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.8;
    padding-bottom: 64px;
    max-width: clamp(24.563rem, 17.713rem + 15.606vw, 30.313rem);
}

.hero__btn {
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    padding: 12px 40px;
    background: linear-gradient(103.84deg, #DF1CFF -25.59%, #EA0070 138%);
    box-shadow: 0px 9px 100px rgba(208, 17, 204, 0.35);
    border-radius: 8px;
}

.hero__btn:active {
    transform: translateY(-2px);
}

.hero__btn:hover {
    opacity: .8;
}

.hero__content img {
    position: absolute;
    top: 43%;
    right: -6.94%;
    transform: translateY(60%);
}

.hero__image {
    position: relative;
    padding-right: 35px;
}

.hero__badge {
    position: relative;
}

.hero__badge::after {
    content: '';
    position: absolute;
    width: clamp(15rem, -10.208rem + 61.111vw, 35.625rem);
    height: clamp(15rem, -10.208rem + 61.111vw, 35.625rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 0.15rem;
    background: conic-gradient(from 233deg, #5a8cff9c 0deg, #4484FF 108deg, rgba(90, 140, 255, 0.9) 139deg, rgb(140 90 255 / 0%) 211deg, rgb(90 140 255 / 0%) 344deg);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    filter: drop-shadow(0 0 6px rgba(120, 130, 255, 0.5));
    pointer-events: none;
}



.hero__badge img {
    width: clamp(12.813rem, -9.951rem + 55.185vw, 31.438rem);
    height: clamp(12.813rem, -9.951rem + 55.185vw, 31.438rem);
    border-radius: 50%;
}

.hero__badge-info {
    position: absolute;
    bottom: -11.5%;
    left: -5%;

    width: clamp(4.375rem, -3.592rem + 19.314vw, 11.063rem);
    height: clamp(4.375rem, -3.592rem + 19.314vw, 11.063rem);
    border-radius: 50%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid transparent;
    background-image: linear-gradient(#07003E, #07003E), linear-gradient(to right, #DF1CFF 0%, #EA0070 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;

    span {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: clamp(0.813rem, -0.007rem + 1.986vw, 1.5rem);
        line-height: 118.5%;
        color: #FFFFFF;
        text-align: center;
    }
}


.overview__header {
    display: flex;
    align-items: center;
    gap: clamp(0.438rem, 0.236rem + 1.007vw, 1rem);
    padding-bottom: 16px;

    img {
        width: clamp(2.5rem, 2.321rem + 0.895vw, 3rem);
        height: clamp(2.5rem, 2.321rem + 0.895vw, 3rem);
    }
}

.overview__title {
    font-family: 'Axiforma', sans-serif;
    font-weight: 700;
    font-size: clamp(1.25rem, 0.982rem + 1.342vw, 2rem);
    line-height: 118.5%;
    color: #FFFFFF;
}

.overview__stats {
    display: flex;
    align-items: center;
    gap: 64px;
    flex-wrap: wrap;

    .overview__stat {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .overview__label {
            font-family: 'Helvetica', sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
            color: #FFFFFF;
            opacity: 0.8;
        }

        .overview__value {
            font-family: 'Axiforma', sans-serif;
            font-weight: 700;
            font-size: 32px;
            line-height: 118.5%;
            color: #FFFFFF;
        }
    }
}

.popular {
    margin-bottom: 130px;
}

.popular-title {
    font-family: 'Axiforma', sans-serif;
    font-weight: 300;
    font-size: clamp(1.938rem, -0.312rem + 11.250vw, 2.5rem);
    line-height: 130%;
    color: #1EE0E1;
    text-align: center;
    padding-bottom: 32px;

    span {
        font-weight: 900;
        color: white;
    }

}

.popular__tabs {
    display: flex;
    justify-content: center;
    gap: 81px;
    margin-bottom: clamp(2rem, 1.297rem + 3.516vw, 4rem);

    li {
        font-weight: 500;
        font-size: 22px;
        line-height: 118.5%;
        color: #FFFFFF;
        opacity: 0.8;
        position: relative;
    }
}

.popular .popular__tabs li.active::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 142px;
    height: 50px;
    background: url('../img/popular/decore.svg') center center / 100% auto no-repeat;
    z-index: -1;
}

.popular .popular__tabs li.active {
    color: #fff;
    /* font-weight: 600; */
    opacity: 1;
}

/* ///////////////////////////// */

.popular__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clamp(8.75rem, 3.475rem + 26.374vw, 23.75rem), 1fr));
    gap: clamp(0.938rem, 0.564rem + 1.868vw, 2rem);
    margin-bottom: clamp(2rem, 1.297rem + 3.516vw, 4rem);
}


.popular__grid article {
    /* width: 405px; */
    background: rgba(255, 255, 255, 0.03);
    border-radius: clamp(0.313rem, 0.071rem + 1.209vw, 1rem);
    padding: clamp(0.313rem, -0.281rem + 2.967vw, 2rem);
    display: flex;
    flex-direction: column;
}

.card__img-wrapper {
    position: relative;
    padding-bottom: clamp(0.625rem, 0.141rem + 2.418vw, 2rem);

}

.card__img-wrapper>img {
    box-shadow: 0px 9px 100px rgba(204, 17, 208, 0.15);
    border-radius: clamp(0.25rem, 0.162rem + 0.440vw, 0.5rem);
    width: 100%;
    height: auto;
}

.card__img-wrapper button {
    position: absolute;
    top: clamp(0.375rem, 0.155rem + 1.099vw, 1rem);
    right: clamp(0.375rem, 0.155rem + 1.099vw, 1rem);
    width: clamp(1.625rem, 1.141rem + 2.418vw, 3rem);
    height: clamp(1.625rem, 1.141rem + 2.418vw, 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 8px;
    cursor: pointer;

    img {
        width: 24px;
        height: 24px;
    }

    &:active {
        transform: translateY(-2px);
    }
}

.card__body {
    margin-top: auto;
}


.card__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 11px;

    .card__name {
        font-family: 'Axiforma', sans-serif;
        font-weight: 600;
        font-size: clamp(0.688rem, 0.446rem + 1.209vw, 1.375rem);
        line-height: 118.5%;
        color: #FFFFFF;
    }

    .card__price {
        display: flex;
        align-items: center;
        gap: 7px;

        img {
            width: clamp(1.063rem, 0.733rem + 1.648vw, 2rem);
            height: clamp(1.063rem, 0.733rem + 1.648vw, 2rem);
        }

        span {
            font-family: 'Axiforma', sans-serif;
            font-weight: 600;
            font-size: clamp(0.813rem, 0.615rem + 0.989vw, 1.375rem);
            line-height: 118.5%;
            color: #fff;
        }
    }
}

.card__body .card__rating {
    display: flex;
    align-items: center;
    gap: clamp(0.313rem, 0.247rem + 0.330vw, 0.5rem);
    /* padding-bottom: 32px; */

    img {
        width: clamp(0.75rem, 0.618rem + 0.659vw, 1.125rem);
        height: clamp(0.75rem, 0.618rem + 0.659vw, 1.125rem);
    }
}

.card__body .card__btn {
    font-family: 'Helvetica', sans-serif;
    background: linear-gradient(103.84deg, #DF1CFF -25.59%, #EA0070 138%);
    box-shadow: 0px 9px 100px rgba(208, 17, 204, 0.35);
    border-radius: clamp(0.188rem, 0.078rem + 0.549vw, 0.5rem);
    font-weight: 700;
    font-size: clamp(0.75rem, 0.574rem + 0.879vw, 1.25rem);
    line-height: 150%;
    color: #FFFFFF;
    width: 100%;
    padding: clamp(0.25rem, 0.074rem + 0.879vw, 0.75rem) 0;
    max-width: 500px;
    cursor: pointer;
    margin-top: 32px;
}

@media (hover: hover) {
    .card__body .card__btn:hover {
        opacity: .8;
    }
}

.card__body .card__btn:active {
    transform: translateY(-2px);
}

.popular__bottom {
    display: flex;
    justify-content: center;
}

.popular__bottom a {
    display: inline-block;
    font-weight: 700;
    font-size: clamp(0.813rem, 0.659rem + 0.769vw, 1.25rem);
    line-height: 150%;
    padding: clamp(0.5rem, 0.412rem + 0.440vw, 0.75rem) clamp(1.25rem, 0.81rem + 2.198vw, 2.5rem);
    background: linear-gradient(to right, #1C1536, #190F31);
    box-shadow: 0px 16px 80px rgba(208, 17, 204, 0.15);
    border: 0.094rem solid transparent;
    border-radius: clamp(0.25rem, 0.162rem + 0.440vw, 0.5rem);
    background-image: linear-gradient(#1C1536, #190F31), linear-gradient(to right, #CF0D9C, #3C1246);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: #FFFFFF;
    cursor: pointer;
}

.popular__bottom a:active {
    transform: translateY(-2px);
}

.create {
    margin-bottom: 130px;
}

.create__header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: clamp(0.875rem, 0.429rem + 2.232vw, 1.5rem);
    margin-bottom: 64px;

    h2 {
        font-family: 'Axiforma', sans-serif;
        font-weight: 900;
        font-size: clamp(1.938rem, 1.536rem + 2.009vw, 2.5rem);
        line-height: 130%;
        color: #FFFFFF;

        span {
            color: #1EE0E1;
            font-weight: 400;
            font-style: italic;
        }
    }
}

.create__label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: clamp(1.063rem, 0.929rem + 0.670vw, 1.25rem);
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.8;
    background: linear-gradient(90deg, #FFFFFF -106.63%, #1EE0E1 -106.6%, rgba(24, 254, 255, 0) 84.92%);
    border-radius: 36px;
    width: clamp(9.438rem, 8.455rem + 4.911vw, 10.813rem);
    height: clamp(2.313rem, 1.911rem + 2.009vw, 2.875rem);
}


.create__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clamp(8.875rem, -0.378rem + 46.263vw, 37.5rem), 1fr));
    gap: 53px 32px;

}

.create__step {
    background-color: #0D0D2D;
    padding: 54px 91px 50px 56px;
    border-radius: 16px;
    position: relative;

    >h3 {
        font-family: 'Axiforma', sans-serif;
        font-weight: 600;
        font-size: 22px;
        line-height: 118.5%;
        color: #FFFFFF;
        padding-bottom: 24px;
    }

    >p {
        font-family: 'Helvetica', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #FFFFFF;
        opacity: 0.8;
    }

    .create__icon {
        position: absolute;
        width: 122px;
        height: 122px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0F111B;
        top: -46px;
        right: 0;
        border-bottom-left-radius: 16px;



        img {
            width: 72px;
            height: 72px;
        }
    }

    .create__icon::after {
        content: '';
        position: absolute;
        width: 34.43%;
        height: 36.07%;
        border-radius: 41%;
        top: 25.5%;
        left: -23.8%;
        box-shadow: inset #0F111B -15px 18px 0px -3px;
    }


    .create__icon::before {
        content: '';
        position: absolute;
        width: 34.43%;
        height: 36.07%;
        border-radius: 41%;
        top: 87.5%;
        left: 76.2%;
        box-shadow: inset #0F111B -15px 18px 0px -3px;
    }
}


.category {
    margin-bottom: 130px;
}

.category__title {
    font-family: 'Axiforma', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: clamp(1.813rem, 1.322rem + 2.455vw, 2.5rem);
    line-height: 130%;
    color: #1EE0E1;
    text-align: center;
    padding-bottom: 24px;

    span {
        color: #fff;
        font-style: normal;
        font-weight: 900;
    }
}

.category__text {
    font-family: inherit;
    font-weight: 400;
    font-size: clamp(1rem, 0.821rem + 0.893vw, 1.25rem);
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.8;
    text-align: center;
    padding-bottom: clamp(2rem, 0.571rem + 7.143vw, 4rem);
}

.category__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: clamp(0.5rem, -0.115rem + 3.077vw, 2rem);
    margin-bottom: clamp(2rem, 1.297rem + 3.516vw, 4rem);

    .category__item:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .category__item:nth-child(2) {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }

    .category__item:nth-child(3) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    .category__item:nth-child(4) {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    .category__item img {
        border-radius: clamp(0.5rem, 0.295rem + 1.026vw, 1rem);
        transition: all .2s ease-in-out;
        width: 100%;
        height: 100%;
    }


    @media (hover: hover) {
        .category__item img:hover {
            transform: scale(1.01);
        }
    }
}

.category__bottom {
    text-align: center;
}



.category__bottom a {
    display: inline-block;
    font-weight: 700;
    font-size: clamp(0.813rem, 0.659rem + 0.769vw, 1.25rem);
    line-height: 150%;
    padding: clamp(0.5rem, 0.412rem + 0.440vw, 0.75rem) clamp(1.25rem, 0.81rem + 2.198vw, 2.5rem);
    background: linear-gradient(to right, #1C1536, #190F31);
    box-shadow: 0px 16px 80px rgba(208, 17, 204, 0.15);
    border: 0.094rem solid transparent;
    border-radius: clamp(0.25rem, 0.162rem + 0.440vw, 0.5rem);
    background-image: linear-gradient(#1C1536, #190F31), linear-gradient(to right, #CF0D9C, #3C1246);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: #FFFFFF;
    cursor: pointer;
}

.category__bottom a:active {
    transform: translateY(-2px);
}



/* .brands {
    margin-bottom: 130px;
} */

.brands__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    justify-content: center;
    gap: 40px 40px;
    justify-items: center;
    align-items: center;
    margin-bottom: 130px;

    /* img {
        width: 100%;
    } */
}


.trending__row {
    display: flex;
    gap: 72px;
    /* flex-wrap: wrap; */
}

.trending__content img {
    width: 79px;
    height: auto;
    padding-bottom: 32px;
}

.trending__content h2 {
    font-family: 'Axiforma', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: clamp(1.938rem, 1.408rem + 2.647vw, 2.5rem);
    line-height: 130%;
    color: #1EE0E1;
    padding-bottom: 24px;

    span {
        font-weight: 900;
        font-style: normal;
        color: #fff;
    }
}

.trending__content p {
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.8;
    padding-bottom: 64px;
}


.trending__content a {
    display: inline-block;
    font-weight: 700;
    font-size: clamp(1rem, 0.765rem + 1.176vw, 1.25rem);
    line-height: 150%;
    color: #FFFFFF;
    padding: 12px 40px;
    background: linear-gradient(103.84deg, #DF1CFF -25.59%, #EA0070 138%);
    box-shadow: 0px 9px 100px rgba(208, 17, 204, 0.35);
    border-radius: 8px;
}

.trending__content a:active {
    transform: translateY(-2px);
}

@media(hover: hover) {
    .trending__content a:hover {
        opacity: .8;
    }
}

.trending {
    margin-bottom: 130px;
}

.trending__cards {
    display: flex;
    gap: 32px;
}

.trending__card>img {
    border-radius: 24px;
    margin-bottom: 24px;
    width: 100%;
}

.trending__card-body {
    display: flex;
    flex-direction: column;
    gap: clamp(0.438rem, -0.604rem + 5.208vw, 1.063rem);

    .trending__card-date {
        font-family: 'Helvetica', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #FFFFFF;
        opacity: 0.8;
    }

    .trending__card-title {
        font-family: 'Axiforma', sans-serif;
        font-weight: 600;
        font-size: clamp(1.375rem, 0.75rem + 3.125vw, 1.75rem);
        line-height: 140%;
        color: #FFFFFF;
    }
}


.touch__inner {
    padding-bottom: 65px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.17);
}

.touch__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 28px;
    padding-bottom: 48px;
}

.touch__title {
    font-family: 'Axiforma', sans-serif;
    font-weight: 800;
    font-size: clamp(2.75rem, 1.103rem + 8.235vw, 4.5rem);
    line-height: 130%;
    color: #FFFFFF;
    text-align: center;
    position: relative;

    &::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transform: translate(1.0%, 5%);
        color: transparent;
        -webkit-text-stroke: 2px #1EE0E1;
    }
}

.touch__text {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: clamp(1.063rem, 0.886rem + 0.882vw, 1.25rem);
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.8;
    max-width: 620px;
    text-align: center;
}


.touch .touch__form {
    margin-bottom: clamp(3.75rem, -0.368rem + 20.588vw, 8.125rem);

    .form__input {
        display: flex;
        justify-content: center;
        padding-bottom: 48px;
    }

    input[type="email"] {
        background-color: #0D0D2D;
        border-radius: 16px;
        padding: clamp(0.938rem, 0.349rem + 2.941vw, 1.563rem);
        width: 100%;
        max-width: 715px;
        color: #fff;
        font-weight: 400;
        font-size: clamp(1.063rem, 0.592rem + 2.353vw, 1.563rem);
    }

    input[type="email"]::placeholder {
        font-family: 'Axiforma', sans-serif;
        font-weight: 400;
        font-size: clamp(1.063rem, 0.592rem + 2.353vw, 1.563rem);
        line-height: 118.5%;
        color: rgba(255, 255, 255, 0.56);
    }

    .form__send-btn button[type="submit"] {
        /* display: inline-block; */
        font-weight: 700;
        font-size: clamp(1rem, 0.765rem + 1.176vw, 1.25rem);
        line-height: 150%;
        color: #FFFFFF;
        padding: 12px 40px;
        background: linear-gradient(103.84deg, #DF1CFF -25.59%, #EA0070 138%);
        box-shadow: 0px 9px 100px rgba(208, 17, 204, 0.35);
        border-radius: 8px;
        cursor: pointer;
    }

    .form__send-btn button[type="submit"]:hover {
        opacity: .8;
    }

    .form__send-btn button[type="submit"]:active {
        transform: translateY(-2px);
    }

    .form__send-btn {
        display: flex;
        justify-content: center;
    }
}

.touch__contacts {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 65px;
    gap: 30px;
    flex-wrap: wrap;

    .touch__contact-col {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-direction: column;
        gap: 12px;

        a,
        span {
            font-family: 'Helvetica', sans-serif;
            font-weight: 400;
            font-size: clamp(1.125rem, 1.007rem + 0.588vw, 1.25rem);
            line-height: 118.5%;
            color: #fff;
        }

        .touch__contacts-decore {
            width: clamp(3.938rem, 2.938rem + 5.000vw, 5rem);
            height: clamp(3.938rem, 2.938rem + 5.000vw, 5rem);
            background-color: #1A124F;
            border-radius: 50%;
            position: relative;
            z-index: 1;

            &::after {
                content: '';
                position: absolute;
                width: clamp(1.875rem, 0.875rem + 5.000vw, 2.938rem);
                height: clamp(1.875rem, 0.875rem + 5.000vw, 2.938rem);
                background-color: #100943;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
            }
        }
    }
}

.touch__social {
    display: flex;
    justify-content: center;
    gap: 16px;
}

/* ///////////////////footer/////////////////////// */
.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: clamp(1.875rem, -0.925rem + 14.000vw, 4.063rem) 0px clamp(2rem, -0.8rem + 14.000vw, 4.188rem) 0px;

    >p {
        font-family: inherit;
        font-weight: 400;
        font-size: clamp(0.875rem, 0.395rem + 2.400vw, 1.25rem);
        line-height: 150%;
        color: #FFFFFF;
        opacity: 0.8;
    }
}


footer .footer__nav-list {
    display: flex;
}

footer .footer__nav-item.active {
    color: #FFFFFF !important;
}

footer .footer__nav-list li:not(:last-child) {
    margin-right: clamp(0.625rem, -2.175rem + 14.000vw, 2.813rem);
}

footer .footer__nav-list li {
    font-weight: 400;
    font-size: clamp(0.875rem, 0.395rem + 2.400vw, 1.25rem);
    line-height: 118.5%;
    color: rgba(255, 255, 255, 0.43);
}


@media (max-width: 1280px) {
    .trending__row {
        gap: 20px;
    }
}

@media (max-width: 1020px) {
    .create__step>h3 {
        max-width: 72%;
    }
}

@media(max-width: 1214px) {
    .overview__stat {
        gap: 10px !important;
    }

    .brands__row {
        /* gap: 38px 80px;
        flex-wrap: wrap; */

        /* img {
            width: 150px;
            height: auto;
        } */
    }

}

@media(max-width: 1140px) {
    .trending__row {
        display: block;
    }

    .trending__content {
        margin-bottom: 40px;
    }

    .trending__content>img {
        display: none;
    }

    .trending__content h2 {
        text-align: center;
    }

    .trending__btn {
        text-align: center;
    }

    .trending__content p {
        padding-bottom: 32px;
        text-align: center;
    }

    .trending__cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        /* gap: 40px; */
    }

    .trending__card-body .trending__card-title {
        max-width: 290px;
    }

    footer .footer__inner {
        gap: 20px;
        flex-wrap: wrap;
    }

    footer .footer__nav {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media (max-width: 1090px) {
    .create__step {
        padding: 54px 40px 50px 40px;
    }
}

@media (max-width: 900px) {
    .header .nav .nav__list li:not(:last-child) {
        margin-right: 35px;
    }

    .header__inner button {
        width: 150px;
        height: 44px;
        font-size: 18px;
    }

    .header .nav .nav__list li {
        font-size: 18px;
    }

    .header__inner .logo {
        font-size: 25px;
    }
}

@media (max-width: 870px) {
    /* .create__step {
        padding: 54px 30px 50px 30px;
    } */

    .create__step>h3 {
        font-size: 18px;
    }

    .create__step>p {
        font-size: 16px;
    }


    .create__icon img {
        width: 60px !important;
        height: 60px !important;
    }

    .create__grid {
        gap: 53px 20px;
    }
}

@media(max-width: 800px) {
    .hero__content img {
        display: none;
    }

    .hero__cover {
        align-items: flex-start;
    }

    .trending__card-body .trending__card-title {
        max-width: 100% !important;
    }

    .trending__cards .trending__card:not(:last-child) {
        margin-bottom: 40px;
    }


}

@media(max-width: 768px) {
    .overview__stats {
        /* justify-content: space-between; */
        gap: 40px;
    }

    .overview__label {
        font-size: 18px;
    }

    .overview__value {
        font-size: 24px !important;
    }

    /* .create__step {
        padding: 54px 20px 50px 20px;
    } */


    header .nav {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #192a5680;
        z-index: 4;
    }

    body.menu header .nav {
        opacity: 1;
        visibility: visible;
    }

    header .nav .nav__list {
        position: absolute;
        top: 0;
        right: -70%;
        width: 70%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 20px;
        align-items: flex-start;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: #332525;
        transition: right .3s ease-in-out;
        z-index: 4;
    }

    body.menu header .nav .nav__list {
        right: 0%;
    }

    body.menu {
        overflow-y: hidden;
    }

    /* body.menu *:not(header):not(.header__inner):not(.container):not(nav):not(nav *):not(.burger) {
        filter: blur(2px);
    } */

    .header__inner button {
        display: none;
    }

    header {
        padding-top: 10px;
    }

    header .burger {
        display: block;
        z-index: 5;
    }
}

@media (max-width: 755px) {
    .popular__tabs {
        display: flex;
        justify-content: space-between;
        column-gap: 40px;
        row-gap: 15px;
        flex-wrap: wrap;
    }

    .popular .popular__tabs li.active::after {
        content: none;
    }

    .touch__contacts {
        justify-content: space-between;
        row-gap: clamp(1.875rem, 0.955rem + 4.598vw, 3.125rem);
    }
}

@media(max-width: 660px) {
    .hero__cover {
        flex-direction: column-reverse;
    }

    .hero__image {
        padding-right: 0px;
        margin-bottom: 40px;
        align-self: center;
    }

    .hero__content p {
        max-width: 100%;
    }

    .trending__content a {
        padding: 10px 30px;
        border-radius: 6px;
    }


    .overview__label {
        font-size: 17px !important;
    }

    .overview__value {
        font-size: 22px;
    }

    .create__grid {
        grid-template-columns: none;
    }
}

@media (max-width: 590px) {
    .footer__inner {
        justify-content: center;
    }

    /* footer .footer__copyright {
        text-align: center;
    } */
}

@media (max-width: 512px) {
    .popular__tabs {
        justify-content: flex-start;
    }

    .create__step {
        padding: 54px 10px 21px 15px;
    }

    .create__step>h3 {
        max-width: 55%;
    }

    .create__icon img {
        width: 50px !important;
        height: 50px !important;
    }

    .trending__cards .trending__card {
        width: 100%;
    }



}

@media (max-width: 435px) {
    .touch__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 400px) {
    .section-title {
        font-weight: 600;
    }
}

@media (max-width: 380px) {
    .hero__content>a {
        width: 100%;
        text-align: center;
    }
}