body {
    background-color: #0F111B;
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}


header {
    padding-top: 37px;
}

header .burger {
    display: none;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

header .burger span {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: white;
}


.header .burger::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all .3s ease-in-out;
}

.header .burger::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all .3s ease-in-out;
}

header .burger.open span {
    display: none;
}

header .burger.open::before {
    transform: translateY(9px) rotate(45deg);

}

header .burger.open::after {
    transform: translateY(-9px) rotate(-45deg);
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 54px;
}

.header__inner .logo {
    font-weight: 700;
    font-size: 28px;
    line-height: 118.5%;
    background: linear-gradient(103.84deg, #DF1CFF -25.59%, #EA0070 138%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

header .nav .nav__list {
    display: flex;
    align-items: center;
}

.header .nav .nav__list li {
    font-weight: 400;
    font-size: 20px;
    line-height: 118.5%;
    color: rgba(255, 255, 255, 0.43);
}

.header .nav .nav__list li:not(:last-child) {
    margin-right: 45px;
}

.nav__item.active {
    color: #FFFFFF !important;
}

.header__inner button {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    width: 201px;
    height: 54px;
    background: linear-gradient(to right, #1C1536, #190F31);
    box-shadow: 0px 16px 80px rgba(208, 17, 204, 0.15);
    border: 0.094rem solid transparent;
    border-radius: 8px;
    background-image:
        linear-gradient(#1C1536, #190F31),
        linear-gradient(to right, #CF0D9C, #3C1246);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    cursor: pointer;
}


.header__inner button:active {
    transform: translateY(-1px);
}

@media(hover: hover) {
    .header__inner button:hover {
        transform: translateY(-1px);
    }
}


@media (max-width: 900px) {
    .header .nav .nav__list li:not(:last-child) {
        margin-right: 35px;
    }

    .header__inner button {
        width: 150px;
        height: 44px;
        font-size: 18px;
    }

    .header .nav .nav__list li {
        font-size: 18px;
    }

    .header__inner .logo {
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    header .nav .nav__list {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 70%;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 20px;
        align-items: flex-start;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: #332525;
    }

    body.menu header .nav .nav__list {
        display: block;
    }

    body.menu .header__inner button {
        display: none;
    }

    header {
        padding-top: 10px;
    }

    header .burger {
        display: block;
    }

    header .logo {
        /* position: absolute;
        top: 10px;
        right: 33%;
        z-index: 20;
        font-size: 18px !important; */
    }
}