body {
    background-color: #0F111B;
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}


header {
    padding-top: 37px;
    margin-bottom: clamp(3.75rem, 1.218rem + 6.137vw, 5.875rem);
}

header .burger {
    display: none;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

header .burger span {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: white;
}


.header .burger::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all .3s ease-in-out;
}

.header .burger::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all .3s ease-in-out;
}

header .burger.open span {
    display: none;
}

header .burger.open::before {
    transform: translateY(9px) rotate(45deg);

}

header .burger.open::after {
    transform: translateY(-9px) rotate(-45deg);
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 54px;
}

.header__inner .logo {
    font-weight: 700;
    font-size: 28px;
    line-height: 118.5%;
    background: linear-gradient(103.84deg, #DF1CFF -25.59%, #EA0070 138%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

header .nav .nav__list {
    display: flex;
    align-items: center;
}

.header .nav .nav__list li {
    font-weight: 400;
    font-size: 20px;
    line-height: 118.5%;
    color: rgba(255, 255, 255, 0.43);
}

.header .nav .nav__list li:not(:last-child) {
    margin-right: 45px;
}

.nav__item.active {
    color: #FFFFFF !important;
}

.header__inner button {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    width: 201px;
    height: 54px;
    background: linear-gradient(to right, #1C1536, #190F31);
    box-shadow: 0px 16px 80px rgba(208, 17, 204, 0.15);
    border: 0.094rem solid transparent;
    border-radius: 8px;
    background-image:
        linear-gradient(#1C1536, #190F31),
        linear-gradient(to right, #CF0D9C, #3C1246);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    cursor: pointer;
}


.header__inner button:active {
    transform: translateY(-2px);
}

/* @media(hover: hover) {
    .header__inner button:hover {
        transform: translateY(-1px);
    }
} */


@media (max-width: 900px) {
    .header .nav .nav__list li:not(:last-child) {
        margin-right: 35px;
    }

    .header__inner button {
        width: 150px;
        height: 44px;
        font-size: 18px;
    }

    .header .nav .nav__list li {
        font-size: 18px;
    }

    .header__inner .logo {
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    header .nav .nav__list {
        position: fixed;
        top: 0;
        right: -70%;
        width: 70%;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 20px;
        align-items: flex-start;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: #332525;
        transition: right .3s ease-in-out;
        z-index: 4;
    }

    body.menu header .nav .nav__list {
        right: 0%;
    }

    .header__inner button {
        display: none;
    }

    header {
        padding-top: 10px;
    }

    header .burger {
        display: block;
        z-index: 5;
    }

}

/* /////////////////////////// */
/* 
.hero__cover::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 952px;
    height: 855px;
    border-radius: 50%;
    background: conic-gradient(from 180deg at 50% 50%, #D9D9D9 0deg, #297FFF 0.04deg, #BF38FF 78.75deg, #CF68FF 187.5deg, #28CBFF 268.13deg, #E1A2FF 360deg);
    opacity: 0.15;
    filter: blur(250px);
    transform: rotate(-45deg);
} */

.hero__cover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 53px;

}

.hero__content {
    /* max-width: 575px; */
}

h1 {
    font-family: 'Axiforma', sans-serif;
    font-weight: 900;
    font-size: clamp(2.188rem, 0.624rem + 3.791vw, 3.5rem);
    line-height: 130%;
    color: #FFFFFF;
    padding-bottom: 32px;

    span {
        font-family: inherit;
        color: #1EE0E1;
        font-weight: 300;
        font-style: italic;
    }
}

.hero__content {
    position: relative;
}

.hero__content p {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.8;
    padding-bottom: 64px;
    max-width: clamp(24.563rem, 17.713rem + 15.606vw, 30.313rem);
}

.hero__btn {
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    padding: 12px 40px;
    background: linear-gradient(103.84deg, #DF1CFF -25.59%, #EA0070 138%);
    box-shadow: 0px 9px 100px rgba(208, 17, 204, 0.35);
    border-radius: 8px;
}

.hero__btn:active {
    transform: translateY(-2px);
}

.hero__content img {
    position: absolute;
    top: 43%;
    right: -6.94%;
    transform: translateY(60%);
}

.hero__image {
    position: relative;
    padding-right: 35px;
}

.hero__badge {
    position: relative;
}

.hero__badge::after {
    content: '';
    position: absolute;
    width: clamp(16.875rem, -5.463rem + 54.152vw, 35.625rem);
    height: clamp(16.875rem, -5.463rem + 54.152vw, 35.625rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 0.15rem;
    /* толщина кольца */

    background: conic-gradient(from 233deg, #5a8cff9c 0deg, #4484FF 108deg, rgba(90, 140, 255, 0.9) 139deg, rgb(140 90 255 / 0%) 211deg, rgb(90 140 255 / 0%) 344deg);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    filter: drop-shadow(0 0 6px rgba(120, 130, 255, 0.5));
    pointer-events: none;
}



.hero__badge img {
    width: clamp(12.688rem, -9.65rem + 54.152vw, 31.438rem);
    height: clamp(12.688rem, -9.65rem + 54.152vw, 31.438rem);
    border-radius: 50%;
}

.hero__badge-info {
    position: absolute;
    bottom: -11.5%;
    left: -5%;

    width: clamp(4.375rem, -3.592rem + 19.314vw, 11.063rem);
    height: clamp(4.375rem, -3.592rem + 19.314vw, 11.063rem);
    border-radius: 50%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid transparent;
    background-image: linear-gradient(#07003E, #07003E), linear-gradient(to right, #DF1CFF 0%, #EA0070 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;

    span {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: clamp(0.813rem, -0.007rem + 1.986vw, 1.5rem);
        line-height: 118.5%;
        color: #FFFFFF;
        text-align: center;
    }
}


.overview__header {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 16px;

    img {
        width: 48px;
        height: 48px;
    }
}

.overview__title {
    font-family: 'Axiforma', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 118.5%;
    color: #FFFFFF;
}

.overview__stats {
    display: flex;
    align-items: center;
    gap: 64px;

    .overview__stat {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .overview__label {
            font-family: 'Helvetica', sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
            color: #FFFFFF;
            opacity: 0.8;
        }

        .overview__value {
            font-family: 'Axiforma', sans-serif;
            font-weight: 700;
            font-size: 32px;
            line-height: 118.5%;
            color: #FFFFFF;
        }
    }
}


@media(max-width: 800px) {
    .hero__content img {
        display: none;
    }

    .hero__cover {
        align-items: flex-start;
    }
}


@media(max-width: 660px) {
    .hero__cover {
        flex-direction: column-reverse;
    }

    .hero__image {
        padding-right: 0px;
        margin-bottom: 40px;
        align-self: center;
    }

    .hero__content p {
        max-width: 100%;
    }


}